//  Input text

input[type=text],
input[type=email] {
    // Background
    background: #EBEBE8; //#DADADA;

    &:active,
    &:focus {
        background-color: #FCFCFC;
        border: 2px #000000 solid;
    }

    // Font
    font-family: "IBM Plex Mono",
    'Courier New',
    Courier,
    monospace;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #14142B;

    ::placeholder {
        // Default
        color: #A0A3BD;
        font-weight: 400;
        opacity: 100%;
    }

    // Shape
    width: 342px;
    height: 37px;
    border-radius: 12px;
    border: none; // <== Get rid of default styling 
    margin: 4px;
    padding: 4px 10px;

    // Positioning
    display: block;
}