@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro',
        sans-serif;
}

a {
    text-decoration: none;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */

    color: #000000;
}

p,
li,
cite {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

h2,
strong {
    font-family: 'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 45px;
}

strong {
    line-height: 23px;
    font-size: 18px;
}

h3 {
    font-family: 'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 16px;
    color: #000000;
}

/// === Interactive Elements ===
@import 'components/textbox';
@import 'components/button';
@import 'components/navigation';
@import 'components/cards';
@import 'components/footer';

body {
    line-height: 1;
    background-color: #efefef;
    font-family: 'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

header {
    min-height: 450px;
    height: 60vh;
    background: #03122B;
    display: flex;
    flex-direction: column;
    justify-content: center;

    main {
        padding: 8% 10%;

        h1 {
            font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 31px;
            padding-bottom: 22px;
            color: #EBEBE8;

            em {
                font-weight: 700;
            }
        }

        a {
            font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #8D97B5;
        }

        li {
            margin-bottom: 8px;
        }

        p {
            margin-top: 16px;

            a {
                font-weight: 700;
            }
        }
    }
}

aside {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 22px 10%;

    p {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        a {
            font-family: Source Sans Pro;
            font-style: italic;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            color: #000000;
        }
    }
}

section {
    display: flex;
    justify-content: space-between;
    padding: 10%;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 50%;
    }
}






@media (max-width: 850px) {
    nav {
        justify-content: center;
    }

    header {
        height: 55vh;
        flex-direction: column;
        justify-content: flex-end;


        main {
            padding: 20% 5%;
            text-align: center;
        }
    }

    section {
        flex-direction: column;

        &>div {
            max-width: initial;
        }
    }

    #about-me {
        grid-template-areas:
            "head"
            "my-info"
            "my-project"
            "my-inrec"
            "my-techstk"
        ;

        &>* {
            margin-bottom: 24px;
        }

        &>h2 {
            width: 80%;
        }

        #my-projects {
            max-width: initial;

        }

        #my-info {
            &>p {
                margin: 12px 0;
            }
        }

        #my-tech-stack {

            ul {
                display: inline-block;
            }
        }
    }
}