@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&display=swap');

// TODO: split to theme + content styles

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro',
        sans-serif;
}

a {
    text-decoration: none;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */

    color: #000000;
}

p,
li,
cite {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

h2,
strong {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 45px;
}

strong {
    line-height: 23px;
    font-size: 18px;
}

h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 16px;
    color: #000000;
}

body {
    line-height: 1;
    background-color: #efefef;
    font-family: 'Source Sans Pro',
        sans-serif;
}

// *** NAVIGATION ***
nav {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    width: 100%;
    background: transparent;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
    min-height: 70px;
    max-height: 90px;
    padding: 14px 48px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(30px);
    transition: all 300ms ease-in-out;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #DDD;
            margin: 0px 12px;
            padding-bottom: 0.31rem;
            outline: none;
            font-family: 'Source Sans Pro',
                sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            position: relative;
            // transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            &::after {
                content: "";
                background: #1861BF;
                // mix-blend-mode: exclusion;
                mix-blend-mode: overlay;
                display: block;
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 0.2rem;
                left: 0.2rem;
                transition: all .3s cubic-bezier(.2, 0, 0, 1);
                transform-origin: bottom center;
                z-index: -1;
            }

            &:hover {
                transition-duration: .35s;
                color: #fff;

                &::after {
                    height: calc(112%);
                    right: -.5rem;
                    left: -.5rem;
                }
            }
        }
    }
}

header {
    min-height: 450px;
    height: 60vh;
    background: #03122B;
    display: flex;
    flex-direction: column;
    justify-content: center;

    main {
        padding: 8% 10%;

        h1 {
            font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 31px;
            padding-bottom: 22px;
            color: #EBEBE8;

            em {
                font-weight: 700;
            }
        }

        a {
            font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #8D97B5;
        }

        li {
            margin-bottom: 8px;
        }

        p {
            margin-top: 16px;

            a {
                font-weight: 700;
            }
        }
    }
}

aside {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 22px 10%;

    p {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        a {
            font-family: Source Sans Pro;
            font-style: italic;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            color: #000000;
        }
    }
}

section {
    display: flex;
    justify-content: space-between;
    padding: 10%;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 50%;
    }
}

footer {
    background: #2F2FE9;
    min-height: 100px;
    padding: 32px 10%;

    em {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #EEEEEE;
    }

    p {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        max-width: 540px;
        color: #EEEEEE;
        word-break: break-all;
        word-wrap: break-word;
    }
}

.card {
    background: #FFFFFF;
    border: 2px solid #1861BF;
    box-sizing: border-box;
    box-shadow: 0px 2px 22px rgba(34, 34, 34, 0.25);
    border-radius: 6px;
    padding: 24px;
    margin: 24px;

    img {
        border-radius: 50%;
        height: 30px;
        width: 30px;

    }

    a {
        font-family: Source Sans Pro;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #444444;
    }

    span {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #444444;
    }
}

#repo_website {
    background: #EBEBE8;
}

#resume {
    background: #C4C4C4;
}

#about-me {
    display: grid;
    padding: 10vh 10%;
    grid-template-areas:
        "head head"
        "my-info my-project"
        "my-info my-project"
        "my-info my-project"
        "my-info my-techstk"
        "my-inrec my-inrec"
        "my-inrec my-inrec"
        "my-inrec my-inrec"
    ;

    &>h2 {
        color: #fff;
        background: #000;
        width: 30%;
        grid-area: head
    }

    #my-info {
        grid-area: my-info;
        min-width: 32vw;

        p {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            line-height: 23px;
        }

        strong {
            font-family: "Source Sans Pro", sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 36px;
            line-height: 45px;

            em {
                font-style: normal;
                font-weight: 700;
            }
        }
    }

    #my-projects {
        grid-area: my-project;
        max-width: 40vw;

        ul>li {
            font-family: "IBM Plex Mono", monospace;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 16px;
            color: #444444;

            i {
                font-family: IBM Plex Mono;
                font-style: italic;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                display: block;
                padding-top: 8px;
            }
        }
    }

    #my-tech-stack {
        grid-area: my-techstk;
        display: inline-block;

        &>h3 {
            font-family: "Source Sans Pro", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            padding-top: 18px;
        }

        ul {
            display: inline;

            li {
                background: #444444;
                border-radius: 4px;
                padding: 4px 8px;
                margin: 4px;
                // text styling
                font-family: IBM Plex Mono;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #EDEDED;
            }
        }
    }

    #my-in-rec {
        grid-area: my-inrec;
    }

}

#contactme {
    #social-media {
        h3 {
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
        }
    }
}

@media (max-width: 850px) {
    nav {
        justify-content: center;
    }

    header {
        height: 55vh;
        flex-direction: column;
        justify-content: flex-end;


        main {
            padding: 10% 5%;
            text-align: center;
        }
    }

    section {
        flex-direction: column;

        &>div {
            max-width: initial;
        }
    }

    #about-me {
        grid-template-areas:
            "head"
            "my-info"
            "my-project"
            "my-inrec"
            "my-techstk"
        ;

        &>* {
            margin-bottom: 24px;
        }

        &>h2 {
            width: 80%;
        }

        #my-projects {
            max-width: initial;

        }

        #my-info {
            &>p {
                margin: 12px 0;
            }
        }

        #my-tech-stack {

            ul {
                display: inline-block;
            }
        }
    }
}